* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;

}

body {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(#314B37,#A9ADAA);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: scroll;
}

header {
    padding: 25px;
    background-color:#3F6E49;
    color:white;
}

a {
    color: white;
    text-decoration: none;
}

header ul li {
    float:right;
    display:inline;
    list-style: none;
    padding-left: 20px;
    padding-top: 12px;
}

a:hover {
    color: black;
}

h1 {
    display: inline;
    padding-top: 20px;
    margin: 5px;
    font: 48px;
}

.content {
    display: flex;
    background-color:#EEF4F0 ;
    padding: 32px;
    align-items: center;
    border-bottom: dashed #6e8d75;
}

.content h2 {
    font-size: 24px;
    margin: 12px;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.content img {
    max-width: 250px;
    display: inline;
    margin:24px;
    border: solid #6e8d75;
}

.content p {
    display: flex;
    float: right;
    flex-wrap: wrap;
    overflow-wrap: normal;
}


main {
    display: flex;
    flex-wrap: wrap;
    background-color: #314B37;
    padding: 12px;
    border-top: dashed #6e8d75;
    border-bottom: dashed white;
    justify-content: center;
}

main h2 {
    color: white;
    margin: 12px;
    padding: 12px;
    text-align: center;
}

#card {
    display: flex;
    background-color: #314B37;
    padding: 36px;
}

.images { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#large-image {
    width: 25rem;
    padding: 12px;
    filter: brightness(40%);
}

#large-image:hover{
    transition: 0.5s;
    color: black;
}

.project-images{
    width: 25rem;
    padding: 12px;
    padding-left: 36px;
    min-height: 274.66px;
    max-height: 274.66px;
    filter: brightness(40%); 
    position: relative;
}

.click-link {
    position: relative;
    text-align: center;
}
.click-link h3{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 25%;
    right: 25%;
    color: white;
}

.click-link h3:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px rgb(10, 73, 52),
    0 0 151px rgb(14, 77, 56);
}

.project-images:hover{
    filter: blur(10px), brightness(30%);
    transition: 0.5s;
}

footer {
    background-color: #3F6E49;
    margin-bottom: 24px;
    padding: 24px;
    color: white;
    text-align: center;
    border-top: dashed white;
}

footer h2{
    margin:24px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    margin-left: 20px;
}


@media screen and (max-width: 1270px){
.click-link {
    flex: 50%;
    flex-direction: column;
    padding-right: 40px;
}
}

@media screen and (max-width: 1270px){
#my-work {
    justify-content: left;
}
}  

@media screen and (max-width: 1270px){
    #large-image {
        flex-grow: 50%;
    }
}

@media screen and (max-width: 1100px){
.click-link {
    flex: 100%;
    flex-direction: column;
}
}



