* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;

}

body {
    width: 1500px;
    margin: 0 auto;
    background: linear-gradient(#314B37,#A9ADAA);
}

header {
    padding: 25px;
    background-color:#3F6E49;
    color:white;
}

a {
    color: white;
    text-decoration: none;
}

header ul li {
    float:right;
    display:inline;
    list-style: none;
    padding-left: 20px;
    padding-top: 12px;
}

a:hover {
    color: black;
}

h1 {
    display: inline;
    padding-top: 20px;
    margin: 5px;
    font: 48px;
}

.content {
    display: flex;
    background-color:#EEF4F0 ;
    padding: 32px;
    align-items: center;
    border-bottom: dashed #6e8d75;
}

.content h2 {
    font-size: 24px;
    margin: 12px;
    padding: 12px;
    text-align: left;
    display: flex;
    flex-direction: row;
    
}

.content img {
    max-width: 250px;
    display: inline;
    margin:24px;
    border: dashed #6e8d75;
    border-radius: 100px;
}

.content p {
    display: flex;
    float: right;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #314B37;
    padding: 12px;
    border-top: dashed #6e8d75;
}

main h2 {
    color: white;
    margin: 12px;
    padding: 12px;
}

.card {
    display: flex;
    background-color: #314B37;
    padding: 36px;
}

#hero-image {
    height: 600px;
    max-width: 500px;
    margin:48px;
    border-radius: 50px;
    position: relative;
    top: -70px;
}

#hero-image:hover {
    filter: blur(4px);
    transition: 1s;
}

.images { 
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-images{
    height: 250px;
    min-width: 250x;
    border-radius: 50px;
}

.project-images:hover{
    filter: blur(4px);
    transition: 1s;
}

footer {
    background-color: #3F6E49;
    margin-bottom: 24px;
    padding: 24px;
    color: white;
    text-align: center;
}

footer h2{
    margin:24px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    margin-left: 20px;
}

@media screen and (max-width: 980px){
.project-images {
    width: 75%;
}
}

@media screen and (max-width: 980px){
#hero-image {
    width: 25%;
}
}



